


html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.app-container {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}