
.navbar {
  width: 100%;
  height: 58px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 22px;

  position: sticky;
  top: 0;
  z-index: 1000;

  background-size: cover;
  background-position: center;

  border-bottom: 1px solid rgba(255,255,255,.08);

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}


.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}



.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 115px;
  height: 42px;

  text-decoration: none;

  font-size: 14px;
  font-weight: 600;

  border-radius: 10px;

  transition: all .3s ease;
}



.login-button  {
  background: linear-gradient(135deg,#1565c0,#42a5f5);
  color: #fff;

  box-shadow: 0 6px 18px rgba(66,165,245,.28);
}

.login-button:hover {
  background: linear-gradient(135deg,#0d47a1,#1e88e5);

  transform: translateY(-2px);

  box-shadow: 0 10px 22px rgba(66,165,245,.35);
}



.button-primary {
  background: linear-gradient(135deg,#22c55e,#16a34a);
  color: #fff;

  box-shadow: 0 6px 18px rgba(34,197,94,.28);
}

.button-primary:hover {
  background: linear-gradient(135deg,#16a34a,#15803d);

  transform: translateY(-2px);

  box-shadow: 0 10px 22px rgba(34,197,94,.35);
}



@media (max-width:768px){

  .navbar{
    padding:0 15px;
  }

  .logo{
    font-size:18px;
  }

  .btn{
    width:95px;
    height:38px;
    font-size:13px;
  }
}